[Unit]
Description=steam-guard.timer defines the time span in which steam guard is active

[Timer]
OnBootSec=0
OnCalendar=Mon..Fri *-*-* 02..17:*
Persistent=true
Unit=steam-guard.service

[Install]
WantedBy=timers.target
