[Unit]
Description=steam-guard.service kills steam and makes it non-exectuable
# This service abuses the fact that systemd calls oneshot services
# every minute, when a time span is defined. So by defining a '2..17:0' timer
# this service will get executed repeatedly in that time span.

[Service]
Type=oneshot

ExecStart=-chmod go-x /usr/games/steam
ExecStart=-sh -c 'kill -9 $(pidof steam) 2>&-'

ExecStart=sleep 58

ExecStop=-chmod go+x /usr/games/steam

[Install]
WantedBy=multi-user.target
