
[core]
	editor = nvim
[alias]
	l = log --graph --oneline --relative-date --pretty='%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s'
	s = status -sb --ahead-behind
	d = diff --minimal
	co = checkout
[init]
	defaultBranch = main

[includeIf "gitdir:~/.dotfiles"]
	path = ~/.config/gitconfig/dotfiles
